body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align content */
}

p {
    margin-bottom: 20px; /* Add margin to separate paragraphs */
}

button {
    width: calc(50% - 10px); /* Adjusted width */
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; /* Added margin-top for spacing */
}

button:hover {
    background-color: #45a049;
}
.header-img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    width: 200px;
}
